@import '../../styles/vars.scss';

.header {
    height: 76px;
    position: fixed;
    width: 100%;

    background-color: $black;
    z-index: 1000;
}

.header_body {
    height: 100%;

    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    display: flex;

    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.nav_link {
    color: white;

    transition: all 200ms linear;

    &:hover {
        color: darken(white, 20);
    }
}
